@charset "UTF-8";
/* CSS Document */

body {
	font-family: Helvetica;
	font-size: 12px;
	line-height:20px;
	color: #333333;
	margin: 0px;
	padding: 0px;
	background-color: #252525;
}
#main_wrapper {
	width: 100%;
	margin:auto;
}
#header_wrapper {
	height:140px;
	background-color:#252525;
	margin:auto;
}
#content {
	width: 100%;
	background-color:#FFFFFF;
	margin:auto;
}
#footer {
	width: 100%;
	height:135px;
	background-color:#252525;
	margin:auto;
	font-family:Helvetica, sans-serif;
	font-size:11px;
	color:#cccccc;
}
h1,h2,h3,h4,h5,h6,ol,li,ul,form {
	margin: 0;
	padding: 0;
}


h1, h2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}
/* HEADER */
.header {
	width:970px;
	padding-top:30px;
	margin:auto;
}
.logo {
	width:200px;
	height:35px;
	float:left;
	margin-top:15px;
}
.logoP {
	width:200px;
	height:35px;
	float:left;
	margin-top:15px;
	margin-left:30px;
}
/* HOME */
.first_content {
	width:100%;
	background-color:#f1f0f0;
	margin:auto;
}
.home_banner {
	height:230px;
	width:400px;
	margin:auto;
	padding: 80px 340px 0 30px;
	font-family: Helvetica;
	font-size: 13px;
	line-height:20px;
	color: #444;
	background-image:url(../images/banner-home.png);
	background-repeat: no-repeat;
	background-position: right;
}
.servicios {
	width:970px;
	margin:auto;
}
.servicios_col {
	width:222px;
	height:315px;
	float:left;
	margin: 30px 10px 30px 10px;
}
.servicios_tit {
	width:222px;
	height:30px;
	margin-bottom:20px;
}
.servicios_thumb {
	width:195px;
	height:90px;
	border:thin solid #999999;
	margin:auto;
}
.servicios_info {
	width:192px;
	height:110px;
	margin:auto;
	padding:15px;
}
.servicios_mas {
	width:75px;
	height:30px;
	padding: 0 0 0 145px;
}

/* INTERIOR */
.contenedorInfo {
	width:970px;
	height:670px;
	margin:auto;
}
.firstColumn {
	width:530px;
	float:left;
	margin-left:30px;
	margin-top:50px;
	text-shadow: -1px -1px white, 1px 1px #fff;
}
.firstColumn .tit {
	width:530px;
	height:80px;
}
.firstColumn .txt {
	padding: 20px 0 0 10px;
}
.firstColumn .txt a{
	color:#f58026;
	text-decoration:none;
}
.firstColumn .txt ul{
	 list-style:none;
}

.firstColumn .txt li{
	background:url(../images/bullet.jpg) no-repeat 0 8px; 
    padding-left: 12px; /* the width of your image + some space */
	padding-top:2px;
    margin: 0 0 5px 25px;
}

.foto {
	margin-right:45px;
	float:right;
	margin-top:130px;
	border:thin solid #999999;
}

/*POLITICA*/

.firstColumnP {
	width:600px;
	float:left;
	margin-left:80px;
	margin-top:180px;
	text-shadow: -1px -1px white, 1px 1px #fff;
}
.firstColumnP .tit {
	width:600px;
	height:80px;
}
.content_footer .copyrigthP {
	width:250px;
	padding:15px;
	font-size:11px;
	float:right;
	margin-right:350px;
	color:#cccccc;
}

/* FOOTER */
.content_footer {
	width:970px;
	padding-top:25px;
	margin:auto;
}
.content_footer a{
	color:#CCC;
	text-decoration:none;
}
.content_footer .politica{
	width:395px;
	padding:15px;
	float:left;
}
.content_footer .social {
	width:80px;
	padding-top:8px;
	float:left;
}
.content_footer .social a{
	margin-left: 10px;
	border:none;
}
.content_footer .copyrigth {
	width:250px;
	padding:15px;
	float:right;
}

/* GRLAS*/
.clr {
	clear: both;
}
.fright {float:right;}
.fleft {float:left;}
